@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .title {
    color: #4A3D5B;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 29px;
    line-height: 37px;
    letter-spacing: -1%;
  }
  @media (min-width: 600px) {}

}

/* Estilos de editor de textos */
.public-DraftStyleDefault-block {
  margin: 0;
}

.public-DraftStyleDefault-block.header-one {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

.public-DraftStyleDefault-block.header-two {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.75em 0;
}

.public-DraftStyleDefault-block.header-three {
  font-size: 1.17em;
  font-weight: bold;
  margin: 0.83em 0;
}

.public-DraftStyleDefault-block.header-four {
  font-size: 1em;
  font-weight: bold;
  margin: 1.12em 0;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-size: revert;
      font-weight: revert;
  }
}

.blockquote .public-DraftStyleDefault-block  {
  border-left: 5px solid #ddd !important;
  color: #555 !important;
  font-family: 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.overlay {
  z-index: 9999 !important;
}

/* carrusel inicio */
.paginationDots {
  padding: 5px;
  background-color: white !important;
  border: 4px solid #AC7CB6;
  border-radius: 100%;
  opacity: unset !important;
}
@media (min-width: 768px) {
  .paginationDots {
    padding: 8px;
  }
}
.swiper-pagination-bullet-active{
  background: #8971BF !important;
}
/* carrusel final */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

