@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilos de editor de textos */
.public-DraftStyleDefault-block {
  margin: 0;
}

.public-DraftStyleDefault-block.header-one {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

.public-DraftStyleDefault-block.header-two {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.75em 0;
}

.public-DraftStyleDefault-block.header-three {
  font-size: 1.17em;
  font-weight: bold;
  margin: 0.83em 0;
}

.public-DraftStyleDefault-block.header-four {
  font-size: 1em;
  font-weight: bold;
  margin: 1.12em 0;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-size: revert;
      font-weight: revert;
  }
}

.blockquote .public-DraftStyleDefault-block  {
  border-left: 5px solid #ddd !important;
  color: #555 !important;
  font-family: 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}
